section p {
    color: darkgoldenrod;
}

ul#special > li {
    background-color: thistle;
    font-style: italic;
}

article + article {
    background-color: bisque;
}

.header2 {
    font-style: bold;
}

.header2 ~ p {
    color: cadetblue;
    font-size: larger;
}

li + .links {
    background-color: chocolate;
}

.links {
    border-color: blue;
    border-width: 5px;
    border-style: dotted;
}

.links:hover {
    border-style: solid;
}