* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px/1.5 Lato;
    background-color: #eee;
    padding: 2em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 2em;
    border-radius: 0.4em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.container > * {
    border: 2px solid #ccc;
    padding: 2em;
    border-radius: 0.4em;
}

header,
footer {
    flex: 1 1 100%;
}

main {
    flex: 1 1 600px;
}

aside {
    flex: 1 0 150px;
}

/* @media (min-width: 800px) {
    .container {
        flex-direction: row;
    }
} */